.edit_post {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}



.edit_post label{
    margin:1em;
   
}
.edit_post h1{
    color: #2E7D32;
    margin: 1px;
}
.edit_post p {
    color: #2E7D32;
    margin: 1px;
}

.edit_post .preview_title {
    margin-bottom: .2em;
    color: #2E7D32;
    font-weight: bold;
}

.image_preview {
    max-width: 100%;
    margin-bottom: 1em;
}