
.container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}
.secaoSmall{
    width: 100%;
}
.secaoSmall p{
    margin-top: 10px;
    color: #2E7D32;
    font-size: 20px;
}
.secaoSmall img{
    margin-left: 15vw;
}

.secao{
    width: 100%;
}
.secao p{
    margin-top: 100px;
    margin-bottom: 50px;
    color: #2E7D32;
    font-size: 20px;
}

.secao img{
    margin-top: 30px;;
    margin-left: 6vw;
}
.secaoLarge{
    width: 100%;
}
.secaoLarge p{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #2E7D32;
    font-size: 20px;
}
.secaoLarge img{
    margin-top: 30px;
    margin-left: 3vw;
}
.title{
    text-align: center;
}

.cardImageSmall{
    align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 10px;
    width: auto;
    height: 100px;
    
}
.cardImageLarge{
    margin-bottom: 30px;
    border-radius: 10px;
    width: auto;
    height: 300px;
    

}
.cardImage{
    margin-bottom: 30px;
    border-radius: 10px;
    width: auto;
    height: 464px;
    
}