.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.home_container h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
}

.home_container h1 span {
    color: #ffff;
    padding: 0 0.2em;
    background-color: #66BB6A;
}

.home_container p {
    margin-bottom: 1.5em;
    color: #7b7b7b;
}

.home_container img {
    width: 350px;
    margin: 2em 0;
}
.link_home {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #fff;
    background: #66BB6A;
    color: #fff;
    border-radius: radius;
    transition: background 200ms ease-in, color 200ms ease-in;  
    cursor: pointer; 
    border-radius: 10px;
    text-decoration: none;
    
    }
   .link {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    background: #66BB6A;
    color: #fff;
    border-radius: radius;
    transition: background 200ms ease-in, color 200ms ease-in;  
    cursor: pointer; 
    text-decoration: none;
  }

     .link:hover  {
    color: #FFBB33;
  }