

  .app {
    background-color: #66BB6A;
    width: 450px;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    
    font-family: "Verdana", cursive, sans-serif;
    color: #ffffff;
    
  
  }
  
  .score_section {
    display: flex;
    font-size: 24px;
    align-items: center;
  }
  
  /* QUESTION/TIMER/LEFT SECTION */
  .question_section {
    width: 100%;
    position: relative;
  }
  
  .question_count {
    margin-bottom: 20px;
  }
  
  .question_count span {
    font-size: 28px;
  }
  
  .question_text {
    margin-bottom: 12px;
  }
  
  .timer_text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  }
  
  /* ANSWERS/RIGHT SECTION */
  .answer_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .but {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #2E7D32;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    font-family: "Verdana", cursive, sans-serif;
    color: #ffffff;
  }
  
  .correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #ff3333;
  }
  
  .but:hover {
    background-color: #66BB6A;
  }
  
  .but:focus {
    outline: none;
  }
  
  .but:svg {
    margin-right: 5px;
  }